{% extends "layout.html" %}
{% block title %}Cinendorse!!{% endblock %}
{% block head %}
  {{ super() }}
  <style media="screen">
      #username{
          display:inline-block;
      }
  </style>
{% endblock %}
{% block content %}
    <h1 class="text-black display-1">Cinendorse</h1>
    <h3 class="text-center text-white pt-5">Cinendorse</h3>
    <div class="mx-auto bg-secondary text-center rounded">
        <div id="logo-container"></div>
        <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-sm-6">
                    <div id="login-box" class="col-sm-12">
                        <form action = "{{ url_for('login') }}" method = "post">
                            <input name="algo" value="mf" type="hidden" />
                            <div id="username">
                                <div class="form-group">
                                          <label for="username" class="text-info">Username</label><br>
                                          <input type = "text" name = "username" id="username" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <!-- <p><input type = "submit" value = "submit" /></p> -->
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div id="footer">
                Made by - <a href="https://github.com/LakshyAAAgrawal">Lakshya A Agrawal</a> <br/>
                Background Credit - Bhavya Chopra
        </div>
    </div>

    {% if error %}
        <center><p><font color="red">{{error}}</font></p></center>
    {% endif %}
{% endblock %}
