{% extends "layout.html" %}
{% block title %}Cinendorse!!{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
<div align="right">
 <a href="{{ url_for('index')}}">Sign Out</a>
</div>
<center><h1 class>Cinendorse</h1></center>
<div class="container bg-dark text-white">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">Rate Movies</a></li>
      <li><a data-toggle="pill" href="#menu1">Recommendations</a></li>
    </ul>
<form action="{{ url_for('ratings') }}" method = "post">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <center><h2>Rate Movies</h2></center>
            Welcome to Cinendorse. Get the best movie recommendations just by rating the movies you have watched. To ensure good recommendations, please rate only those movies which you have watched, and rate them based on your own personal experience, rather than its common public perception. Pressing Submit will submit the ratings given(and even if not given) and load a new list of movies. Hover over the movie posters for more info.. You can see your recommendations on the "Recommendation" Tab.
            {% if msg_success %}
                 <p><font color="green">{{msg_success}}</font></p>
            {% endif %}
            <!-- <form action="{{ url_for('ratings') }}" method = "post"> -->
                <input name="username" value={{username}} type="hidden" />
                <!--
                <table border = 0>
                    <tr>
                        <th><center>Cover</center></th>
                        <th><center>Movie</center></th>
                        <th><center>Synopsis</center></th>
                        <th><center>Rating</center></th>
                    </tr>
                    -->
                    <div class="row">
                   {% for movie in random_movies %}
                   <!--
                      <tr>
                      -->
                            <!-- <td><img src="{{movie.thumbnail_url}}" height=147 width=100></td>
                            <td><center>{{movie.title}}</center></td>
                            <td><center>{{movie.synpsis}}</center></td>
                            <td> -->
                            <div class="col">
                                <div class="row">
                                    <img src="{{movie.thumbnail_url}}" title="IMDb Rating : {{movie.imdb_rating}}.. Synopsis : {{movie.synpsis}}... Directed By : {{movie.directors}} .. Cast : {{movie.cast}}" class="img-rounded">

                                </div>
                                <div class="row">
                                    <center>{{movie.title}} ({{movie.year_of_release}})</center>
                                </div>
                                <div class="row">
                                    <div class="ratings">
                                        <select name="{{movie.id}}" selected="0" class="form-control btn-primary">
                                            <option value="Null" name="{{movie.id}}" selected="selected">Rate</option>
                                            <option value="1" name="{{movie.id}}">1</option>
                                            <option value="1.5" name="{{movie.id}}">1.5</option>
                                            <option value="2" name="{{movie.id}}">2</option>
                                            <option value="2.5" name="{{movie.id}}">2.5</option>
                                            <option value="3" name="{{movie.id}}">3</option>
                                            <option value="3.5" name="{{movie.id}}">3.5</option>
                                            <option value="4" name="{{movie.id}}">4</option>
                                            <option value="4.5" name="{{movie.id}}">4.5</option>
                                            <option value="5" name="{{movie.id}}">5</option>
                                        </select>
                                </div>
                            </div>
                            </div>
                            <!-- </td> -->
                            <!--
                      </tr>
                      -->
                   {% endfor %}

                   </div>
                   <div class="row">
                       <div class="col"><center><input type="submit" value="Submit" class="btn btn-primary btn-lg" /></center></div>
                       </div>
                <!--
                </table>
                -->
            <!-- </form> -->
        </div>
        <div id="menu1" class="tab-pane fade">
            <center><h2>Your recommendations</h2></center>
            Here you can see the movies recommended for you. Rate as many movies as possible( Psst., only those that you have watched ) to get better and better recommendations!!
            <!-- <table border = 0> -->
                <!-- <tr> -->
                    <!-- <th>Cover</th> -->
                    <!-- <th>Movie</th> -->
                    <!-- <th>Synopsis</th> -->
                <!-- </tr> -->
                <div class="row">
                    <div class="col">
                        <!-- <form> -->
                        <select name="algo" selected="0" class="form-control btn-primary">
                            <option value="mf" name="algo" {% if algo %}{% if algo=="mf" %}selected="selected"{% endif %}{% endif %}>Matrix Factorisation</option>
                            <option value="u2" name="algo" {% if algo %}{% if algo=="u2" %}selected="selected"{% endif %}{% endif %}>User-User Collaborative Filtering</option>
                            <option value="i2" name="algo" {% if algo %}{% if algo=="i2" %}selected="selected"{% endif %}{% endif %}>Item Item Collaborative Filtering</option>
                        </select>
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                <div class="row">
               {% for movie in result %}
                  <!-- <tr> -->
                        <!-- <td><img src="{{movie.thumbnail_url}}" height=147 width=100></td> -->
                        <!-- <td>{{movie.title}}</td> -->
                        <!-- <td>{{movie.synpsis}}</td> -->
                  <!-- </tr> -->
                  <div class="col"><div class="row">
                      <img src="{{movie.thumbnail_url}}" title="IMDb Rating : {{movie.imdb_rating}}..  Synopsis : {{movie.synpsis}}... Directed By : {{movie.directors}} .. Cast : {{movie.cast}}" class="img-rounded"></div><div class="row">
                      <center>{{movie.title}} ({{movie.year_of_release}})</center></div>
                    </div>
               {% endfor %}
               </div>
            <!-- </table> -->
        </div></form>
        <div id="footer">
                Made by - <a href="https://github.com/LakshyAAAgrawal">Lakshya A Agrawal</a>
        </div>
    </div>
</div>
{% endblock %}
